*.log
*.Rout
/*.RData
*.Rhistory

data/*
!data/analysis_data_example*.PNG

data/prog101_nobs_counts
data/prog101_table1_stats.png
*archive/
*rsconnect/
checklist.txt
prep/tasks_prep.bat
*.bat
data_wrangling*
