*.log
*.Rout
/*.RData
*.Rhistory

preprocessing/data/*
!preprocessing/data/analysis_data_example*.PNG

preprocessing/*archive/
preprocessing/AC_plot/*rsconnect/
!preprocessing/checklist.txt
preprocessing/prep/tasks_prep.bat
preprocessing/**/*.bat
preprocessing/**/*.txt
preprocessing/**/*.rds
preprocessing/subsetting/*.xlsx
preprocessing/data_wrangling*

data_freeze/**/*.csv
data_freeze/20180830/separateData/
data_freeze/20181020/separateData/
data_freeze/20181020/**/*.txt
data_freeze/20181020/**/*.csv