*.log
*.Rout
/*.RData
*.Rhistory

preprocessing/data/*
!preprocessing/data/analysis_data_example*.PNG

preprocessing/*archive/
preprocessing/AC_plot/*rsconnect/
!preprocessing/checklist.txt
preprocessing/prep/tasks_prep.bat
preprocessing/**/*.bat
preprocessing/**/*.txt
preprocessing/**/*.rds
preprocessing/subsetting/subset_3_removeNoACPeriod_multipleCancers.xlsx

data_freeze/**/*.csv
data_freeze/20180830/separateData/

preprocessing/data_wrangling*


data_freeze/20180830/*.rds
data_freeze/20180830/*.txt